/* === COLOURS & VARIABLES === */
$primary: #ff7025;
$primary-light: #f8b639;
$primary-dark: #ff4c00;

$white: #fff;
$grey-1: #e0e5ec;
$grey-2: #c3c1c6;
$grey-3: #b1b1b1;
$grey-5: #9baacf;
$grey-fade-1: fade_out($grey-1, 0.1);
$grey-fade-2: fade_out($grey-2, 0.1);

$background: $grey-1;
$standard-radius: 1rem;
$standard-transition: 150ms;

:root {
	--primary: #{$primary};
	--background: #{$background};
}
::-webkit-scrollbar {width: 0.3rem;}
::-webkit-scrollbar-track {background: $grey-5;}
::-webkit-scrollbar-thumb {background: $primary;}
::-webkit-scrollbar-thumb:hover {background:$primary-light;}
/* === SHADOW TYPES === */
@function outset($darker-color: $grey-fade-2, $lighter-color: $white) {
	@return 0.3rem 0.3rem 0.5rem $darker-color,
		-0.2rem -0.2rem 0.4rem $lighter-color;
}

@function sunken($darker-color: $grey-fade-2, $lighter-color: $white) {
	@return -0.3rem -0.3rem 0.5rem $darker-color,
		0.2rem 0.2rem 0.4rem $lighter-color;
}

@function inset($darker-color: $grey-fade-2, $lighter-color: $white) {
	@return inset 0.3rem 0.3rem 0.5rem $darker-color,
		inset -0.2rem -0.2rem 0.5rem $lighter-color;
}

@function raised($darker-color: $grey-fade-2, $lighter-color: $white) {
	@return inset($lighter-color, $darker-color), outset();
}

@function ridge($darker-color: $grey-fade-2, $lighter-color: $white) {
	@return inset($darker-color, $lighter-color), outset();
}

/********/
.outset{box-shadow:outset()!important;}
.raised{box-shadow:raised()!important;}
.inset{box-shadow:inset()!important;}
.sunken{box-shadow:sunken()!important;}
.ridge{box-shadow:ridge()!important;}

/* === SETUP === */
body {
	background: $background;
	color: $grey-5;
	padding: 2rem;
	font-family: "Baloo Thambi 2", cursive !important;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 1.2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

/* === TEXT MODIFIERS === */
.emboss {
	background: $white;
	background-clip: text;
	color: transparent;
	text-shadow: rgba(0, 0, 0, 0.25) 1px 2px 1px;
}

.engrave {
	background: $grey-3;
	background-clip: text;
	color: transparent;
	text-shadow: rgba($white, 0.5) 1px 2px 1px;
}

/* === CONTAINERS === */
section {
	width: 100%;
	padding: 1rem 1rem 1rem 1rem;
	border-radius: $standard-radius;
	background: $background;
	box-shadow: outset();
	display: flex;
	flex-direction: column;
	gap: 1rem;

	> div {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 2rem;
		justify-content: center;
		width: 100%;
	}
}

/* === BUTTONS === */
.btn {
  font-size: 1.2rem;
  border: .0625rem solid #d1d9e6;
	border-radius: $standard-radius;
	padding: 0.5rem 2rem;
	transition: all $standard-transition ease;
	font-family: inherit;
  &:active {
    box-shadow: 0 0 0 $grey-fade-2,
              0 0 0 $white !important;
  }
  &:focus {
    color: $primary;
    outline:none !important;
  }
}
.badge {
    border: .0625rem solid #d1d9e6;
}

/* === TEXT FIELD === */
.textfield {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 0.3rem;
	width: 50%;

	span {
		font-size: 1.2rem;
	}
  div {
		box-shadow: inset();
		background: $background;
		border: none;
		border-radius: $standard-radius;
		display: flex;
		align-items: center;
		padding: 0.5rem 1rem;
		width: 100%;

		.textfield__icon {
			margin-right: 0.5rem;
		}

		input {
			background: transparent;
			border: none;
			color: $grey-5;
			flex: 1;

			&::placeholder {
				color: $grey-2;
			}

			&:focus {
				outline: none;
			}
		}

		&:focus-within {
			box-shadow: ridge();

			.textfield__icon {
				color: $primary;
			}
		}
	}
}
/* === Navs and tabs === */
.nav-pills .nav-item:not(:last-child) {
    padding-right: 1rem;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #31344b;
    background-color: #e6e7ee;
    border-color: #d1d9e6;
    box-shadow: inset();
}
.nav-pills .nav-link {
    border-radius: $standard-radius;
    padding: .75rem .85rem;
    transition: all $standard-transition ease;
    box-shadow: outset();
    border: 1px solid #d1d9e6;
}