#main
{
  display:block;
}

body
{
  margin: 0px;
  overflow: hidden;
}

#beats
{
  background: white;
  width: 100vw;
  height: 40px;
  padding: 5px;
  white-space: nowrap;

  span
  {
    padding-left: 30px;
    padding-right: 30px;
    color: white;
  }
  
}

.beat
{
  padding-top: 10px;
  padding-bottom: 10px;
  width: calc(100vw - 10px);
  background: gray;
}