/* The version of Bourbon used in this Pen was 4.* */
@import "bourbon";

@mixin bp($point) {
  @if $point == 980 {
    @media screen and (max-width: 980px) { @content; }
  }
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

$colors-list: #f4f4f4, #f3f3f3, #f2f2f2, #f1f1f1, #f0f0f0, #efefef, #eeeeee, #ededed, #edecec, #ececeb, #ebebea, #eaeae9, #e9e9e9, #e8e8e8;
$purple-list: #040404, #050505, #060606, #070707, #080808, #090909, #101010, #111111, #121212, #131313, #141414, #151515, #161616, #171717;

body {
  font: 14px/18px 'Josefin Sans', sans-serif;
  background: #fff;
  @include transition(background .5s);

  &.glow {
    background: #000;
  }
}

.options {
  position: absolute;
  top: 0;
  left: 0;
  background: #333;
  color: #fff;
  width: 260px;
  height: 100vh;

  .moonphase.reset {
    display: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
      float: left;
      width: 50%;
      padding: 5px 0;
    }
  }

  div {
    padding: 5px 15px;
  }

  h2 {
    color: #fff;
    margin: 5px 0;
    padding: 10px;
    background: #000;
    display: block;

  }
  a, a:visited {
    color: #fff;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  a.active {
    font-weight: bold;
    text-decoration: underline;
  }
}

#the-glow {
  display: none;

  &.active {

    width: 250px;
    position: absolute;
    top: 287px;
    z-index: -1;
    background: transparent;
    left: 50%;
    margin-left: -125px;
    height: 1px;
    @include border-top-radius(15px);
    @include border-right-radius(15px);
    @include border-bottom-radius(15px);
    @include border-left-radius(15px);

    &.blue {
      @include animation(glow-blue 10s ease-in-out infinite);
      background: rgba(37,95,131,0.5);
      -webkit-box-shadow: 0px 0px 28px 0px rgba(37,95,131,0.5);
      -moz-box-shadow: 0px 0px 28px 0px rgba(37,95,131,0.5);
      box-shadow: 0px 0px 28px 0px rgba(37,95,131,0.5);
    }

    &.green {
      @include animation(glow-green 10s ease-in-out infinite);
      -webkit-box-shadow: 0px 0px 28px 0px rgba(90,131,63,0.5);
      -moz-box-shadow: 0px 0px 28px 0px rgba(90,131,63,0.5);
      box-shadow: 0px 0px 28px 0px rgba(90,131,63,0.5);
    }

    &.purple {
      @include animation(glow-purple 10s ease-in-out infinite);
      -webkit-box-shadow: 0px 0px 28px 0px rgba(67,39,149,0.5);
      -moz-box-shadow: 0px 0px 28px 0px rgba(67,39,149,0.5);
      box-shadow: 0px 0px 28px 0px rgba(67,39,149,0.5);
    }
  }
}

#container {
  @include bp(980) {
    margin-left: 300px;
  }
  width: 373px;
  margin: 0 auto;
  padding-left: 5%;
  
  
}

#reset-link {
  display: none;
  margin: 10px 0;
  text-align: center;
  button {
    @include button;
  }
}

#seconds-hand, #minutes-hand, #hours-hand, #moon-phase-dial {
  @include transform-origin(186px 254px);
}
#seconds-hand.active {
  @include animation(spin 60s linear infinite);
}
#seconds-hand.paused{
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

#moon-phase-dial {
  @include transform(rotate(230deg));

  &.fast {
    @include animation(spin 15s linear infinite);
  }
}

#the-crown {
  cursor: pointer;
  @include transform(translate(0px,0px));
  @include transition(all .75s ease-out);

  &.active {
    @include transform(translate(8px,5px));
  }
}

#northern-lights {

  g, path, circle, line, polyline, polygon,  {
    @include transition(fill 1s, stroke 1s);
  }

  &.blue {

    #dial-background {
      fill: #D1EEFB;
    }

    #face-grating {
      circle, line, path {
        stroke: #1D7CC1;
      }

      #inner-dial {
        fill: #1D7CC1;
      }
    }

    #moon-phase-dial {
      #sky-background {
        fill: #155588;
      }
    }

    #the-case {
      @each $current-color in $colors-list {
        $i: index($colors-list, $current-color);
        #layer-#{$i} {
          fill: $current-color;
        }
      }

      .lug-main {
        fill: #e8e8e8;
      }
      .lug-accent {
        fill: #eaeaea;
      }

      #case-front {
        fill: #e8e8e8;
        stroke: #d3d3d3;
      }

      #case-inner {
        fill: #d8d8d8;
        stroke: #919191;
      }
    }

    #the-crown {
      path {
        fill: #e0e0e0;
      }

      .crown-fill {
        fill: #f2f2f2;
        stroke: #ededed;

        &.accent {
          fill: #f9f9fa;
        }

        &.fill-1 {
          fill: #f1f1f1;
        }
        &.fill-2 {
          fill: #fcfcfc;
        }
        &.fill-3 {
          fill: #f7f7f7;
        }
      }
    }

    &.glow {

      #dial-background {
        fill: #63fffe;
      }

      #face-grating {
        circle, line, path {
          stroke: #171717;
        }

        #inner-dial {
          fill: #171717;
        }
      }

      #center-dial {
        .one {
          fill: #171717;
          stroke: #090909;
        }
        .two {
          fill: #121212;
          stroke: #090909;
        }
        .three {
          fill: #303030;
        }
      }

      #hours-hand, #seconds-hand, #minutes-hand {
        path, line {
          stroke: #333333;
        }
        .the-fill {
          fill: #7efea7;
          stroke: #333333;
        }
      }

      #hour-markers {
        circle {
          fill: #7efea7;
          stroke: #333333;
        }
      }

      #moon-phase-dial {
        #sky-background {
          fill: #062738;
        }

        #the-stars {
          polygon {
            fill: #7efea7
          }
        }
      }

      .case-back, .lug-bar {
        fill: #000000;
      }

      #the-case {
        @each $current-color in $purple-list {
          $i: index($purple-list, $current-color);
          #layer-#{$i} {
            fill: $current-color;
          }
        }

        .lug-main {
          fill: #171717;
        }
        .lug-accent {
          fill: #222222;
        }

        #case-front {
          fill: #171717;
          stroke: #212121;
        }

        #case-inner {
          fill: #131415;
          stroke: #212121;
        }
      }

      #the-crown {
        path {
          fill: #111111;
        }

        .crown-fill {
          fill: #060606;
          stroke: #040404;

          &.accent {
            fill: #212121;
          }

          &.fill-1 {
            fill: #111111;
          }
          &.fill-2 {
            fill: #060606;
          }
          &.fill-3 {
            fill: #212121;
          }
        }
      }

      #the-face {

        .face-main {
          fill: #002527;
          stroke: #000033;
        }

        .eyebrow {
          fill: #191919;
        }

        .eye {
          fill: #0c3748;
        }

        .eye-accent {
          fill: #121212;
        }

        .pupil {
          fill: #367c9e;
        }

        .forehead-line {
          fill: #1f4e6c;
        }

        .cheek-line {
          fill: #010323;
        }

        .nose {
          stroke: #072525;
        }

        .nose-line {
          fill: #010323;
        }

        .lip {
          fill: #0c3748;
          stroke: #212121;
        }

        .chin-line {
          stroke: #010323;
        }
      }
    }

  }

  &.green {

    #dial-background {
      fill: #dde5da;
    }

    #face-grating {
      circle, line, path {
        stroke: #00878d;
      }

      #inner-dial {
        fill: #00878d;
      }
    }

    #moon-phase-dial {
      #sky-background {
        fill: #105052;
      }
    }

    #the-case {
      @each $current-color in $colors-list {
        $i: index($colors-list, $current-color);
        #layer-#{$i} {
          fill: $current-color;
        }
      }

      .lug-main {
        fill: #e8e8e8;
      }
      .lug-accent {
        fill: #eaeaea;
      }

      #case-front {
        fill: #e8e8e8;
        stroke: #d3d3d3;
      }

      #case-inner {
        fill: #d8d8d8;
        stroke: #919191;
      }
    }

    #the-crown {
      path {
        fill: #e0e0e0;
      }

      .crown-fill {
        fill: #f2f2f2;
        stroke: #ededed;

        &.accent {
          fill: #f9f9fa;
        }

        &.fill-1 {
          fill: #f1f1f1;
        }
        &.fill-2 {
          fill: #fcfcfc;
        }
        &.fill-3 {
          fill: #f7f7f7;
        }
      }
    }

    &.glow {

      #dial-background {
        fill: #8bff61;
      }

      #face-grating {
        circle, line, path {
          stroke: #171717;
        }

        #inner-dial {
          fill: #171717;
        }
      }

      #center-dial {
        .one {
          fill: #171717;
          stroke: #090909;
        }
        .two {
          fill: #121212;
          stroke: #090909;
        }
        .three {
          fill: #303030;
        }
      }

      #hours-hand, #seconds-hand, #minutes-hand {
        path, line {
          stroke: #333333;
        }
        .the-fill {
          fill: #7efea7;
          stroke: #333333;
        }
      }

      #hour-markers {
        circle {
          fill: #7efea7;
          stroke: #333333;
        }
      }

      #moon-phase-dial {
        #sky-background {
          fill: #06370a;
        }

        #the-stars {
          polygon {
            fill: #7efea7
          }
        }
      }

      .case-back, .lug-bar {
        fill: #000000;
      }

      #the-case {
        @each $current-color in $purple-list {
          $i: index($purple-list, $current-color);
          #layer-#{$i} {
            fill: $current-color;
          }
        }

        .lug-main {
          fill: #171717;
        }
        .lug-accent {
          fill: #222222;
        }

        #case-front {
          fill: #171717;
          stroke: #212121;
        }

        #case-inner {
          fill: #131415;
          stroke: #212121;
        }
      }

      #the-crown {
        path {
          fill: #111111;
        }

        .crown-fill {
          fill: #060606;
          stroke: #040404;

          &.accent {
            fill: #212121;
          }

          &.fill-1 {
            fill: #111111;
          }
          &.fill-2 {
            fill: #060606;
          }
          &.fill-3 {
            fill: #212121;
          }
        }
      }

      #the-face {

        .face-main {
          fill: #1c2416;
          stroke: #000033;
        }

        .eyebrow {
          fill: #191919;
        }

        .eye {
          fill: #122a08;
        }

        .eye-accent {
          fill: #121212;
        }

        .pupil {
          fill: #244113;
        }

        .forehead-line {
          fill: #2d4a1c;
        }

        .cheek-line {
          fill: #010323;
        }

        .nose {
          stroke: #072525;
        }

        .nose-line {
          fill: #010323;
        }

        .lip {
          fill: #122a08;
          stroke: #212121;
        }

        .chin-line {
          stroke: #010323;
        }
      }
    }

  }

  &.purple {

    #dial-background {
      fill: #a5abcb;
    }

    #face-grating {
        circle, line, path {
        stroke: #252525;
      }

      #inner-dial {
        fill: #252525;
      }
    }

    #moon-phase-dial {
      #sky-background {
        fill: #1c2023;
      }
    }

    .case-back, .lug-bar {
      fill: #000000;
    }

    #the-case {
      @each $current-color in $purple-list {
        $i: index($purple-list, $current-color);
        #layer-#{$i} {
          fill: $current-color;
        }
      }

      .lug-main {
        fill: #171717;
      }
      .lug-accent {
        fill: #222222;
      }

      #case-front {
        fill: #171717;
        stroke: #212121;
      }

      #case-inner {
        fill: #131415;
        stroke: #212121;
      }
    }

    #the-crown {
      path {
        fill: #111111;
      }

      .crown-fill {
        fill: #060606;
        stroke: #040404;

        &.accent {
          fill: #212121;
        }

        &.fill-1 {
          fill: #111111;
        }
        &.fill-2 {
          fill: #060606;
        }
        &.fill-3 {
          fill: #212121;
        }
      }
    }

    &.glow {

      #dial-background {
        fill: #a68efe;
      }

      #face-grating {
        circle, line, path {
          stroke: #171717;
        }

        #inner-dial {
          fill: #171717;
        }
      }

      #center-dial {
        .one {
          fill: #171717;
          stroke: #090909;
        }
        .two {
          fill: #121212;
          stroke: #090909;
        }
        .three {
          fill: #303030;
        }
      }

      #hours-hand, #seconds-hand, #minutes-hand {
        path, line {
          stroke: #333333;
        }
        .the-fill {
          fill: #7efea7;
          stroke: #333333;
        }
      }

      #hour-markers {
        circle {
          fill: #7efea7;
          stroke: #333333;
        }
      }

      #moon-phase-dial {
        #sky-background {
          fill: #181c4c;
        }

        #the-stars {
          polygon {
            fill: #7efea7
          }
        }
      }

      .case-back, .lug-bar {
        fill: #000000;
      }

      #the-case {
        @each $current-color in $purple-list {
          $i: index($purple-list, $current-color);
          #layer-#{$i} {
            fill: $current-color;
          }
        }

        .lug-main {
          fill: #171717;
        }
        .lug-accent {
          fill: #222222;
        }

        #case-front {
          fill: #171717;
          stroke: #212121;
        }

        #case-inner {
          fill: #131415;
          stroke: #212121;
        }
      }

      #the-crown {
        path {
          fill: #111111;
        }

        .crown-fill {
          fill: #060606;
          stroke: #040404;

          &.accent {
            fill: #212121;
          }

          &.fill-1 {
            fill: #111111;
          }
          &.fill-2 {
            fill: #060606;
          }
          &.fill-3 {
            fill: #212121;
          }
        }
      }

      #the-face {

        .face-main {
          fill: #2b2242;
          stroke: #000033;
        }

        .eyebrow {
          fill: #191919;
        }

        .eye {
          fill: #28195a;
        }

        .eye-accent {
          fill: #121212;
        }

        .pupil {
          fill: #3b2788;
        }

        .forehead-line {
          fill: #2d4a1c;
        }

        .cheek-line {
          fill: #010323;
        }

        .nose {
          stroke: #072525;
        }

        .nose-line {
          fill: #010323;
        }

        .lip {
          fill: #28195a;
          stroke: #212121;
        }

        .chin-line {
          stroke: #010323;
        }
      }
    }
  }
}


@include keyframes (spin) {
  100% { @include transform(rotate(360deg)); }
}
@include keyframes (glow-blue) {
  50% {
    width: 260px;
    margin-left: -130px;
    height: 220px;
    top: 200px;
    background: rgba(43,101,151,0.75);
    -webkit-box-shadow: 0px -29px 104px 70px rgba(43,101,151,0.75);
    -moz-box-shadow: 0px -29px 104px 70px rgba(43,101,151,0.75);
    box-shadow: 0px -29px 104px 70px rgba(43,101,151,0.75);
  }
}
@include keyframes (glow-green) {
  50% {
    width: 260px;
    margin-left: -130px;
    height: 220px;
    top: 200px;
    background: rgba(90,131,63,0.75);
    -webkit-box-shadow: 0px -29px 104px 70px rgba(90,131,63,0.75);
    -moz-box-shadow: 0px -29px 104px 70px rgba(90,131,63,0.75);
    box-shadow: 0px -29px 104px 70px rgba(90,131,63,0.75);
  }
}
@include keyframes (glow-purple) {
  50% {
    width: 260px;
    margin-left: -130px;
    height: 220px;
    top: 200px;
    background: rgba(67,39,149,0.75);
    -webkit-box-shadow: 0px -29px 104px 70px rgba(67,39,149,0.75);
    -moz-box-shadow: 0px -29px 104px 70px rgba(67,39,149,0.75);
    box-shadow: 0px -29px 104px 70px rgba(67,39,149,0.75);
  }
}