html,
body {
    height: 100%;
}

body {
    overflow: hidden;
}

canvas {
    display: block;
    height: 100%;
    margin: 0 auto;
}

.canvas {
    position: relative;
}

.clouds {
    background: no-repeat url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/59639/clouds.png') 0 100%;
    background-size: 100vw 75vw;
    height: 50vw;
    pointer-events: none;
    width: 100vw;
}

.clouds:before,
.clouds:after {
    animation: cloud 3s ease-in-out 0s infinite alternate;
    background: inherit;
    content: '';
    display: block;
    position: absolute;
}

.clouds:before {
    background-position: 0 0;
    height: 22.2vw;
    left: 9vw;
    top: 17vw;
    width: 35.5vw;
}

.clouds:after {
    animation-duration: 4s;
    background-position: -50vw 0;
    height: 24.6vw;
    right: 12vw;
    top: 16vw;
    width: 29.4vw;
}

.top-clouds {
    bottom: 100%;
    left: 0;
    margin-bottom: -100px;
    position: absolute;
}

.bottom-clouds {
    left: 0;
    margin-top: -180px;
    position: absolute;
    top: 100%;
}

@keyframes cloud {
    0% {
        transform: translateX(-7%);
    }
    100% {
        transform: translateX(3%);
    }
}
