margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  
html, body
  font-size: 12px;
  font-family: serif;

h1
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.8);
  color: #FFF;
  padding: 16px;
  line-height: 1.5;