body {
  font-family: sans-serif;
  text-align: center;
}
h1{
  text-align: center;
}
.buttons{
  padding: 20px 0;
  max-width: 500px;
  margin:0 auto;
}
button{
  display: block;
  float: left;
  height: 100px;
  width: 30%;
  padding: 0;
  margin: 1.6%;
}