<div class="container" id="app">
  <div class="fields">
    <label>#</label>
    <input type="text" v-model="baseColor">
    <label>#</label>
    <input type="text" v-model="targetColor">
    <button @click="generate()" :disabled="active == true ? false : true">Generate</button>
  </div>
  <div class="colors">
    <div class="color" :style="{ backgroundColor: '#' + computedBaseColor }"></div>
    <div class="color" :style="{ backgroundColor: '#' + computedTargetColor }"></div>
    <div class="color" :style="{ backgroundColor: '#' + computedBaseColor, filter: 'hue-rotate(' + hue + 'deg) saturate(' + saturation + '%) brightness(' + brightness + '%)'}"></div>
  </div>
  <div class="result" v-if="">filter: hue-rotate({{hue}}deg) saturate({{saturation}}%) brightness({{brightness}}%);</div>
</div>