@import url("https://use.typekit.net/zvb5son.css");

* {
  box-sizing: border-box;
}

body {
  max-height: auto;
  max-width: auto;
  margin: auto;
  padding: auto 15px;
  background-color: #ff96d3;
  font-family: chippewa-falls, sans-serif;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: #000;
}

.project-title {
  margin: 0;
  padding: 0;
  max-width: 500px;
  max-height: 250px;
}

.sequencer {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: fit-content;
  width: fit-content;
  border-radius: 3px;
  margin: auto;
}

.note {
  background-color: #ff96d3;
  width: 3.5em;
  height: 3.5em;
  margin: 2.1px;
  padding: 0;
  border: 1px solid #e70c0f;
  border-radius: 5px;
}

.sequencer-row {
  display: block;
  white-space: nowrap;
}

.note-is-active {
  background-color: #e70c0f;
}

.note-not-active {
}

.toggle-play {
  display: block;
}

.play-button {
  float: center;
  width: 200px;
  height: 42px;
  margin: 5px;
  padding: 0;
  box-sizing: border-box;
  background: #ff96d3;
  border: 1px solid #e70c0f;
  border-radius: 3px;
  text-transform: lowercase;
  text-align: center;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-family: chippewa-falls, sans-serif;
}
.play-button:active {
  float: center;
  width: 200px;
  height: 42px;
  margin: 5px;
  padding: 0;
  box-sizing: border-box;
  background: #e70c0f;
  border: 1px solid #e70c0f;
  border-radius: 1px;
  font-family: chippewa-falls, sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: #000;
}
